@font-face {
  font-family: "Sacred Geometry";
  /* For whatever reason, the path "../" with "[the directory name]" is *
   * required for a local font to be correctly called using @font-face. */
  src: url("../fortierpm.github.io/fonts/Sacred_Geometry.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barriecito";
  src: url("../fortierpm.github.io/fonts/Barriecito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  /*
  background: rgb(2,0,36);
  background: -moz-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
  background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  */
  /*
  background: rgb(5,0,96);
  background: -moz-linear-gradient(315deg, rgba(5,0,96,1) 0%, rgba(60,141,188,1) 60%, rgba(73,235,235,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(5,0,96,1) 0%, rgba(60,141,188,1) 60%, rgba(73,235,235,1) 100%);
  background: linear-gradient(315deg, rgba(5,0,96,1) 0%, rgba(60,141,188,1) 60%, rgba(73,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050060",endColorstr="#49ebeb",GradientType=1);
  */
  background: rgb(1,0,23);
  background: -moz-linear-gradient(315deg, rgba(1,0,23,1) 0%, rgba(0,108,172,1) 68%, rgba(73,163,235,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(1,0,23,1) 0%, rgba(0,108,172,1) 68%, rgba(73,163,235,1) 100%);
  background: linear-gradient(315deg, rgba(1,0,23,1) 0%, rgba(0,108,172,1) 68%, rgba(73,163,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010017",endColorstr="#49a3eb",GradientType=1);
  background-attachment: fixed;
  
}
main {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
}
h1 {
  font: 8em "Sacred Geometry";
  margin: 16px 14px 16px 18px;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 6em
  }
}
h2 {
  font: 1em "Barriecito";
  margin: 16px;
  width: 600px;
  max-width: 90vw;
}
a {
  text-decoration: none;
  margin: 16px;
  background-color: transparent;
}
a div {
  padding: 16px;
  font: 1em "Barriecito";
  background-color: rgba(0.50, 0.50, 0.50, 0.10);
}
p {
  margin: 16px;
  font: 13px Arial;
}

