<footer id="siteFooter">
  <div id="contactContainer">
    <div id="contactHeadings">
      <h3>Contact</h3>
      <h4>Personal profiles and contact resources</h4>
    </div>
    <ul id="contactList">
      <li><a href="https://www.freecodecamp.org/fortierpm" target="_blank">FCC Homepage</a></li>
      <li><a href="https://www.facebook.com/people/Peter-Fortier/100010683600528" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/fortier_pm" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/fortierpm" target="_blank">GitHub</a></li>
    </ul>
  </div>
  <div id="copywriteContainer">
    <p>If I had a copywrite message or some other cool beans like that this is where it would go.</p>
    <p>&copy;fakecopywrite</p>
  </div>
</footer>
